*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}

body{
    background: rgb(26, 23, 23);
    color: #dfebf7;
}
#header{
    width: 100%;
    height: 100vh;
    background: url(../images/Gojo-PNG-Free-Download.png);
    background-size:90%;
    background-position: right;
    position: relative;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    padding: 2% 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px; 
}
nav ul li a{
    text-decoration: none;
    color: #dfebf7;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #866cfc;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
    transition: .3s;
}
.header-text{
    margin-top: 20%;
    font-size: 15px;
    animation: slide-in 0.7s ease-in-out;
}

.header-text h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-text h1 span {
    color: #866cfc;
}

/* about section */

#about{
    padding: 100px 0;
    color: #e6acac;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-col-1{
    flex-basis: 35%;
    margin-bottom: 30px;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    margin-bottom: 30px;
    padding-left: 50px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #866cfc;
}

.tab-titles{
    margin: 20px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}


.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #866cfc;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .3s;
}

.tab-links.active-link::after{
    width: 50%;
    transition: .3s;
}



.tab-contents ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    line-height: 30px;
}

.tab-contents ul li span{
    font-size: 20px;
    color: #866cfc;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}









#projects {
    padding: 150px 0;
    color: #e6acac;
}

.services-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px; /* Updated value */
}

.services-list div {
    padding: 40px;
    border-radius: 10px;
    background: #292626;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    font-weight: 300;
}	

.services-list div i {
    font-size: 25px;
    margin-bottom: 30px;
    color: #866cfc;
}


.services-list div h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-bottom: 15px;
}
.services-list div a {
    color: #e6acac;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
    font-style: italic;
    display: inline-block;
    padding: 15 px 20px;
}

.services-list div:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}









.contact-left{
    flex-basis: 35%;
}

.contact-right{
     flex-basis: 60%;
 }

 .contact-left p{
     margin-top: 30px;
     padding: 25px;
 }
.contact-left p i{
    margin-right: 10px;
    font-size: 25px;
    color: #866cfc;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    margin-right: 10px;
    color: #e6acac;
    font-size: 20px;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
}

.social-icons a:hover{
    color: #866cfc;
    transform: translate3d(0,-5px,0);
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #292626;
    color: #e6acac;
    font-size: 15px;
    font-weight: 300;
}

form .btn2{
    background: #866cfc;
    color: #e6acac;
    font-size: 15px;
    font-weight: 300;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
.copyright{
    text-align: center;
    padding: 18px 0;
    background: #292626;
    color: #e6acac;
    font-size: 15px;
    font-weight: 300;
}

#msg{
    color: #6df300;
    margin-top: 10px;
    margin-right: 5px;
}











/* for small screens */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600){
    .container{
        padding: 10px 5%;
    }
    #header{
        background-image: url(../images/Gojo-PNG-Free-Download.png);
        background-size: 190%;
    }
    .header-text{
        margin-top: 10%;
        font-size: 16px;

    }
    .header-text h1{
        font-size: 20px;
    }
    .header-text h1 span{
        font-size: 20px;
    }
    nav .fas{
        display: block;
        color: #866cfc;
        font-size: 50px;
    }
    nav ul{
        background: #292626;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        margin-right: 20px;
        font-size: 14px;
    }


}





























@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
